@import "colors";

.contacts {
  &__title {
    margin-top: 200px;
    color: $primary-color;
    text-align: center;
  }

  &__details {
    font-weight: bold;
    text-align: center;
  }

  &__card {
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}
