@import "colors";

.errorPage {
  margin-top: 250px;
  text-align: center;
  &__link {
    display: block;
    margin-top: 50px;
    color: $dark-color;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s;
    &:hover {
      color: $dark-color;
      transform: scale(1.2);
    }
  }
}
